<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jack Burton Quotes - Big Trouble in Little China</title>
</head>

<style lang="css">
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #app {
        position: relative;
        height: 100vh;
    }

    .center_quote {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 3.5rem;
        width: 100vw;
    }
</style>

<body>
    <div id="app">

        <div class="center_quote">
            <p>{{quote}}</p>
        </div>
    </div>

</body>

</html>